@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$dropbg: #f9f9f9;
$color: #62706c;


html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: $dropbg;
	color: $color;
	font-size: 100%;
	line-height: 1.25;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &.dropzone {
    border: 5px dashed $color;
    background: $dropbg;

    &.enter {
      background: lighten($dropbg, 15%);
    }
  }
}

#getname, #dropzone, #confirm {
  visibility: hidden;
  display: none;

  &.show {
    display: block;
    visibility: visible;
  }
}

#getname, #dropzone { width: 80%; }

#dropzone {
  text-align: center;
  margin-bottom: 60px;

  h1.hide {
    display: none;
  }

  #fileList {
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 20px auto;
    background: rgba(0,0,0,0.1);
    text-align: left;
    width: 400px;
    max-height: 300px;
    border-radius: 5px;

    li {
      position: relative;
      padding: 10px;
      margin: 0;
      display: block;
      z-index: 2;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      &:last-of-child { border: none; }

      small { float: right; }

      .file-name {
        width: 80%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .file-progress {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #1ECD97;
        opacity: 0.4;

        &.failed {
          background: #FB797E;
        }
      }
    }
  }
}


.progress-button {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;

  &.show {
    display: inline-block;
  }
}

#success_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 205, 151, 1);
  z-index: 10;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  display: none;

  &.show {
    display: table !important;
  }

  .inner_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  svg {
    margin-top: 40px;
  }

  svg path {
    stroke: #fff;
    fill: none;
  	stroke-linecap: round;
  	stroke-width: 4;
  	opacity: 0;
  	-webkit-transition: stroke-dashoffset 0.3s;
  	transition: stroke-dashoffset 0.3s;
  }

  svg.init path {
    opacity: 1;
  }

  #tornar {
    display: block;
    margin-top: 40px;
    color: white;
    text-decoration: underline;
    font-size: 1.3em;
  }


}
